pandas 
matplotlib 
seaborn
scikit-learn 
mysql-connector-python
sqlalchemy 
pymysql
xgboost
pandas
numpy
scikit-learn
matplotlib
seaborn
streamlit
powerbiclient
sqlalchemy
mysql-connector-python
jupyter
